*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: purple;
}
.headings{
    padding-left: 10px;
    overflow: hidden;
    width: 180px;
    height: 100vh;
    color: rgb(20, 172, 121);
    background-color: white;
}
.active{
    transform: rotate(90deg);
}
.list a{
    color: rgb(20, 172, 121);
}
.heading {
    display: flex;
    padding-top: 20px;
    align-items: center;
    gap: 30px;
}
.heading img{
  margin-left: 10px;
  border-radius: 12%;
}
.heading a  , .list a {
    text-decoration: none;
    list-style: none;
}

.list{
    display: flex;
    gap: 30px;
    font-size: 21px;
    list-style: none;
    margin-top: 20px;
}
.lists{
   display: flex;
   margin-top: 10px;
   margin-left: 20px;
   flex-direction: column;
   gap: 110px;
}
.list:hover{
    color:rgb(82, 3, 82) ;
}
.list a:hover{
    color:rgb(82, 3, 82);
}
#menu{
    position:absolute;
    margin-left: 160px;
    
  text-align: center;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
    /* transform: rotate(-90deg); */
   background-color: rgb(0, 128, 85);
   color: white;
}