*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: rgb(210, 237, 248);
}
main{
    width: 260px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    padding: 10px;
    gap: 6px;
}
main img{
    border-radius: 50px;
}
.prev-forward{
    gap: 20px;
    font-size: 20px;
    display: flex;
}
.random-button{
    padding: 9px 11px 9px 11px;
    border-radius: 12px;
    background-color: rgb(245, 121, 49);
    color: white;
    border: none;
}
i,#job{
    color: orangered;
}
i,.random-button{
    cursor: pointer;
}